@import '../_functions.scss';
@import '../_vars.scss';
@import '../_mixins.scss';

.mt-button {
  color: $color;
  border-radius: 2PX;
  height: px(72);
  line-height: px(72);
  appearance: none;
  background: none;
  text-decoration: none;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  text-overflow:ellipsis;
  text-transform: uppercase;
  min-width: px(128);
  padding: 0 px(16);
  position: relative;
  overflow: hidden;
  outline: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active{
    background: $tap-color;
  }
  i.icon + span,
  i.icon + i.icon {
    margin-left: px(16);
  }

  .icon,
  .mt-button-text {
    pointer-events: none;
  }

  .icon{
    @include flex-shrink(0);
  }

  .mt-button-text{
    @include flex-shrink(1);
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    word-wrap:break-word;
  }

  .mt-ripple-ink{
    color: $tap-color;
  }

  &.color-red{
    color: $red;
  }

  &.color-green{
    color: $green;
  }

  &.color-amber{
    color: $amber;
  }

  &.color-blue{
    color: $blue;
  }
}

.mt-button-fill {
  background-color: $carbon;
  color: #fff;
  .mt-ripple-ink{
    color: rgba(255,255,255,0.4);
  }
  &:active {
    background-color: darken($carbon, 8%);
  }
  &.color-red{
    color: #fff;
    background-color: $red;
    &:active {
      background-color: darken($red, 8%);
    }
  }

  &.color-green{
    color: #fff;
    background-color: $green;
    &:active {
      background-color: darken($green, 8%);
    }
  }

  &.color-amber{
    color: #fff;
    background-color: $amber;
    &:active {
      background-color: darken($amber, 8%);
    }
  }

  &.color-blue {
    color: #fff;
    background-color: $blue;
    &:active {
      background-color: darken($blue, 8%);
    }
  }
}

.mt-button-big {
  height: px(88);
  line-height: px(88);
  border-radius: px(6);
  font-size: px(32);
}

.mt-button-small {
  height: px(60);
  line-height: px(60);
  border-radius: px(3);
}

.mt-button-raised {
  @include depth(1);
  html:not(.watch-active-state) &:active, &.active-state {
    @include depth(2);
  }
}

.mt-float-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: px(110);
  height: px(110);
  background-color: $color;
  border: none;
  appearance: none;
  text-decoration: none;
  margin: 0;
  outline: 0;
  // transition-duration: 300ms;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
  color: #FFF;
  @include flex-shrink(0);
  @include depth(2);
  &:active {
    @include depth(3);
  }
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
  @include active-highlight();

  &__color {
    &-carbon {
      background-color: $color;
    }
    &-red {
      background-color: $red;
    }
    &-green {
      background-color: $green;
    }
    &-blue {
      background-color: $blue;
    }
    &-amber {
      background-color: $amber;
    }
  }

}
